
.photos-page {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f6;
  padding: 4rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.photos-message {
  font-size: 1.2rem;
  color: #222;
  text-align: center;
  margin-top: 4rem;
}


.photo-gallery {
  width: 100%;
  max-width: 1400px;
  display: flex;
}


.masonry-grid {
  display: flex;
  margin-left: -0.5rem;
  width: auto;
}

.masonry-column {
  padding-left: 0.5rem;
  background-clip: padding-box;
}

.masonry-column img {
  width: 100%;
  height: 250px; 
  display: block;
  margin-bottom: 0.5rem;
  object-fit: cover; 
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.masonry-column img:hover {
  filter: brightness(0.95);
  transform: scale(1.03);
}


@media (max-width: 1100px) {
  .masonry-column img {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .masonry-column img {
    height: 180px;
  }
}

@media (max-width: 500px) {
  .masonry-column img {
    height: 150px;
  }
}
