html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  padding-top: 80px; 
  box-sizing: border-box;
}

@media (max-width: 480px) {
  main {
    margin: 1rem;
    padding: 0 0.5rem;
    padding-top: 80px;
  }
}

